* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
/* Header CSS */
header {
  /* background-color: rgb(189, 220, 221); */
  background-color: rgb(73, 88, 88);
}
nav {
  width: 78.8vw;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

#logo a {
  text-decoration: none;
  font-size: 2em;
  font-weight: bolder;
  /* color: rgb(179, 95, 40); */
  color: rgb(189, 220, 221);
}

#links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.link {
  padding: 0px 1rem;
  transition: background-color 500ms, border-radius 500ms;
}

.link a {
  text-decoration: none;
  /* color: rgb(179, 95, 40); */
  color: rgb(189, 220, 221);
}

.link:hover {
  background-color: peachpuff;
  border-radius: 50%;
}

.link a:hover {
  color: rgb(179, 95, 40);
}
/* Header CSS */

main {
  width: 100%;
  height: 88.8vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pricing-label {
  background-color: rgb(172, 203, 204);
  width: 25%;
  height: 80%;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  box-shadow: 0px 4px 3px 2px grey;
  display: none;
}

.heading {
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem;
  border-bottom: 1px solid grey;
}

.features {
  box-sizing: border-box;
  padding: 2rem;
  height: 68%;
}

.features p {
  text-align: center;
  padding: 1rem 0px;
}

.btn {
  width: 80%;
  display: block;
  margin: 0px auto;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  color: antiquewhite;
  background-color: dodgerblue;
  font-size: 1rem;
  cursor: pointer;
  transition: all 500ms;
}

.btn:hover {
  background-color: rgb(17, 79, 141);
  box-shadow: 0px 2px 2px 2px gray;
  transform: translateY(-5px);
}

.btn:active {
  transform: scale(0.9);
}

/* footer CSS */
footer {
  background-color: rgb(73, 88, 88);
  padding: 1.5% 10%;
  display: flex;
  justify-content: space-between;
}

#left {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#top p {
  font-size: 1.5em;
  font-weight: 600;
}

#top img {
  transition: all 500ms;
}

#top img:hover {
  background-color: rgb(189, 220, 221);
  border-radius: 0.5rem;
  box-sizing: border-box;
}

#bottom p {
  font-size: 1.5em;
  font-weight: 600;
}

#right {
  width: 30rem;
}

#right p:first-of-type {
  font-size: 1.5em;
  font-weight: 600;
}

#right p:last-of-type {
  color: gray;
}
/* footer CSS */
